{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "importOrderSeparation": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 160,
    "proseWrap": "never",
    "quoteProps": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
